# ===== SERVER =====
NODE_ENV=development
PORT=3000

# ===== DATABASE (PostgreSQL) =====
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=zenso_user
DB_PASSWORD=zenso_password
DB_NAME=zenso_dev

# Connection URL (TypeORM będzie z tego korzystać)
DATABASE_URL=postgresql://zenso_user:zenso_password@postgres:5432/zenso_dev

# ===== LIQUIDS/RENDERING =====
RENDER_TIMEOUT_MS=10000
RENDER_WIDTH=800
RENDER_HEIGHT=480

# STORAGE
PLUGINS_ROOT_DIR="./storage/plugins" # optional

# ===== REGISTRY =====
REGISTRY_URL="https://registry.zenso.dev" # central plugin registry
MOCK_REGISTRY="true"

# ===== SEEDING =====
SEED_PLUGIN_URL="https://github.com/zensoink/zenso-plugin-template/releases/download/v0.0.0/plugin.zip" # plugin zip URL for initial seed
SEED_ON_STARTUP="true" # automatically seed database on app startup when empty
